<h1>顧客要望一覧（CSVファイル）</h1>

<%= form_tag({controller: "demand_list", action: "import_csv", method: "post"}, {multipart: true}) do %>
  <div class="field">
    <%= label_tag "CSVファイルを選択" %><br>
    <%= file_field_tag :csv_file %>
  </div>

  <div class="actions">
    <%= submit_tag "CSVファイルを読み込む"%>
  </div>
<% end %>

<%= link_to 'ホームに戻る', home_index_path %>
